config.py
google_key.txt
data_collection/*.csv
audio_records/*.wav
audio_records/*.mp3
audio_graphs/*.png

.zip
Thumbs.db
.idea/*
__pycache__/
.Python
venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
data_collection/
audio_graphs/
audio_records/
temp_audio/
assets/sounds/