{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Active Alarms Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="POST">
      <table width="100%">
        <thead><tr>
          <th>Alarm Title</th>
          <th>Alarm Time</th>
          <th>Playlist</th>
          <th>Wake Window</th>
          <th>Snooze Time</th>
          <th>Next Alarm Time</th>
          <th>Time Til Next Alarm</th>
          <th width="20%"> Turn on / off</th>
          <th width="30%"> Snooze etc. </th>
        </tr></thead>
      {% for alarm in alarms %}
        {% if alarm.on %}
        <tr bgcolor="green">
          {% else %}
        <tr bgcolor="red">
        {% endif %}
          <td>{{alarm.name}}</td>
          <th>{{alarm.alarm_time}}</th>
          <th>{{alarm.sound_profile.name}}</th>
          <th>{{alarm.wake_window}}</th>
          <th>{{alarm.snooze_time}}</th>
          <th>{{alarm.next_alarm_datetime}}</th>
          <th>{{alarm.time_til_wake|string()}}</th>
          <td><input type="submit" name="{{alarm.id}}" value="Snooze"></td>
          <td><input type="submit" name="{{alarm.id}}" value="TurnOff"></td>
        </tr>
      {% endfor %}
      </table>
  </form>
{% endblock %}
