{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Active Alarms Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="POST">
      <table width="100%">
        <thead><tr>
          <th>Alarm Title</th>
          <th>Alarm Time</th>
          <th>Playlist</th>
          <th>Wake Window</th>
          <th>Snooze Time</th>
          <th>Next Alarm Time</th>
          <th>Time Til Next Alarm</th>
          <th width="30%"> Snooze </th>
          <th width="10%"> Turn on/off</th>
        </tr></thead>
      {% for alarm in alarms %}
        {% if alarm.on %}
          {% if alarm.snoozed %}
            <tr bgcolor="yellow">
          {% elif alarm.running %}
            <tr bgcolor="darkviolet">
          {% else %}
            <tr bgcolor="greenyellow">
          {% endif %}
        {% else %}
          <tr bgcolor="salmon">
        {% endif %}
          <td>{{alarm.name}}</td>
          <td>{{alarm.alarm_time}}</td>
          <td>{{alarm.sound_profile.name}}</td>
          <td>{{alarm.wake_window}}</td>
          <td>{{alarm.snooze_time}}</td>
          <td>{{alarm.next_alarm_datetime}}</td>
          <td>{{alarm.time_til_wake|string()}}</td>
          <td>{% if alarm.snoozed %}
              {{ alarm.snooze_time_left }} seconds left of snooze
              {% else %}
              <input width="30%" type="submit" name="{{alarm.id}}" value="Snooze">
              {% endif %}</td>
          <td><input width="10%" type="submit" name="{{alarm.id}}" value="TurnOff"></td>
        </tr>
      {% endfor %}
      </table>
  <button class="w3-button w3-round-large" type="Submit" name="snooze_generic" value="snooze_generic">Snooze Any Current Alarm</button>
  </form>
{% endblock %}
