{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Snooze/Cancel Alarm{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if any(active) %}
        <input style="color: black; background-color: red; text-align: center; font-size: 50px;" type="button" id="cancel" value="TURN OFF ALARM">
        <input style="color: black; background-color: orange; text-align: center; font-size: 50px;" type="button" id="snooze1" value="FALSE SNOOZE">
        <input style="color: black; background-color: red; text-align: center; font-size: 50px;" type="button" id="snooze2" value="TRUE SNOOZE">
        <input style="color: black; background-color: orange; text-align: center; font-size: 50px;" type="button" id="snooze3" value="SNOOZE & RESET">
    {% else %}
        <p>There are no active alarms</p>
    {% endif %}
{% endblook %}