<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SNOOZE / CANCEL</title>
    <style>
      input {
      background-color: red;
      border: black;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 40px;
      }
    </style>
</head>
<body>
<input type="button" id="cancel" value="TURN OFF ALARM">
<input type="button" id="snooze1" value="TRUE SNOOZE">
<input type="button" id="snooze2" value="SNOOZE & RESET">
<input type="button" id="snooze3" value="FALSE SNOOZE">
</body>
</html>