{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}View Playlist {{name}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<table>
    <thead>
    <tr>
    {% for col in df.columns %}
        <th>{{col}}</th>
        {% endfor %}
        <!--<th> Remove </th>-->
    </tr>
    </thead>
    {% for row in df.to_dict('records') %}
    <tr>
        {% for col in df.columns %}
        <td>
            {{ row[col] }}
        </td>
        {% endfor %}
        <!--<td>-->
            <!--<button type="submit" name="remove" value="{{row[id]}}">Remove Song</button>-->
        <!--</td>-->
    </tr>
    {% endfor %}
</table>
<span><a href="{{url_for('sound.update', id=id)}}">Modify Playlist?</a></span>
<span><a href="{{url_for('sound.create')}}">Create New Playlist?</a></span>

{% endblock %}
