{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create Alarm{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
      <ul>
    <li><label for="name">Alarm Name</label>
        <input name="name" id="name" required value={{name}}></li>


    <li><label for="time"></label>
        <input type="time" name="time" id="time" required value={{time}}></li>
    <li><fieldset><legend>Select the days of the week you wish to repeat</legend>
        <label>Monday</label>
            {% if 0 in days %}
        <input type="checkbox" name="Monday" value="Monday" checked>
            {% else %}
        <input type="checkbox" name="Monday" value="Monday">
            {% endif %}
        <label>Tuesday</label>
            {% if 1 in days %}
        <input type="checkbox" name="Tuesday" value="Tuesday" checked>
            {% else %}
        <input type="checkbox" name="Tuesday" value="Tuesday">
            {% endif %}
        <label>Wednesday</label>
            {% if 2 in days %}
        <input type="checkbox" name="Wednesday" value="Wednesday" checked>
            {% else %}
        <input type="checkbox" name="Wednesday" value="Wednesday">
            {% endif %}
        <label>Thursday</label>
            {% if 3 in days %}
        <input type="checkbox" name="Thursday" value="Thursday" checked>
            {% else %}
        <input type="checkbox" name="Thursday" value="Thursday">
            {% endif %}
        <label>Friday</label>
            {% if 4 in days %}
        <input type="checkbox" name="Friday" value="Friday" checked>
            {% else %}
        <input type="checkbox" name="Friday" value="Friday">
            {% endif %}
        <label>Saturday</label>
            {% if 5 in days %}
        <input type="checkbox" name="Saturday" value="Saturday" checked>
            {% else %}
        <input type="checkbox" name="Saturday" value="Saturday">
            {% endif %}
        <label>Sunday</label>
            {% if 6 in days %}
        <input type="checkbox" name="Sunday" value="Sunday" checked>
            {% else %}
        <input type="checkbox" name="Sunday" value="Sunday">
            {% endif %}
    </fieldset></li>
    <li><label for="sound_profile">Select sound profile</label>
        <select name="sound_profile" id="sound_profile">
        {% for o in sound_profiles %}
            {% if o.name == sound_profile %}
                <option value="{{ o.name }}" selected>{{o.name}}</option>
            {% else %}
                <option value="{{ o.name }}">{{o.name}}</option>
            {% endif %}
        {% endfor %}
        </select>
    </li>
    <li><label for="color_profile">Select color profile</label>
        <select name="color_profile" id="color_profile">
        {% for o in color_profiles %}
            {% if o.name == sound_profile %}
                <option value="{{ o.name }}" selected>{{o.name}}</option>
            {% else %}
                <option value="{{ o.name }}">{{o.name}}</option>
            {% endif %}
        {% endfor %}
        </select>
    </li>
    <li><label for="active">Activate</label>
            {% if active %}
                <input type="checkbox" name="active" id="active" checked>
            {% else %}
                <input type="checkbox" name="active" id="active">
            {% endif %}
          </li>
      </ul>
      {% if use == 'update' %}
        <input type="submit" value="Update">
      {% else %}
        <input type="submit" value="Create">
      {% endif %}
  </form>
{% endblock %}
