{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create {{name}}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
  <ul>
    <li><label for="name">{{name}}Profile Name</label>
        <input name="name" id="name" required></li>
    <li><label for="time_span">select time span prior to wakeup time</label>
        <input type="number" name="time_span" id="time_span" required></li>
  </ul>
      <input type="submit" value="Create">
  </form>
{% endblock %}
