{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<table>
    <thead>
    <tr>
    {% for col in df.columns %}
        <th>{{col}}</th>
        {% endfor %}
        <th> Edit </th>
    </tr>
    </thead>
    {% for row in df.to_dict('records') %}
    <tr>
        {% for col in df.columns %}
        <td>
            {{ row[col] }}
        </td>
        {% endfor %}
        <td>
            <a href="{{ url_for('alarm.update', id=row['id']) }}">Edit</a>
        </td>
    </tr>
    {% endfor %}
</table>
<span><a href={{url_for('alarm.create')}}> Create New Alarm? </a></span>



{% endblock %}
