{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create Alarm{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
      <ul>
    <li><label for="name">Alarm Name</label>
        <input name="name" id="name" required></li>
    <li><label for="time"></label>
        <input type="time" name="time" id="time" required></li>
    <li><fieldset><legend>Select the days of the week you wish to repeat</legend>
        <label>Monday</label>
            <input type="checkbox" name="Monday" value="Monday">
        <label>Tuesday</label>
            <input type="checkbox" name="Tuesday" value="Tuesday">
        <label>Wednesday</label>
            <input type="checkbox" name="Wednesday" value="Wednesday">
        <label>Thursday</label>
            <input type="checkbox" name="Thursday" value="Thursday">
        <label>Friday</label>
            <input type="checkbox" name="Friday" value="Friday">
        <label>Saturday</label>
            <input type="checkbox" name="Saturday" value="Saturday">
        <label>Sunday</label>
            <input type="checkbox" name="Sunday" value="Sunday">
    </fieldset></li>
    <li><label for="sound_profile">Select sound profile</label>
        <select name="sound_profile" id="sound_profile">
        {% for o in sound_profiles %}
            <option value="{{ o.name }}" selected>{{o.name}}</option>
        {% endfor %}
        </select>
    </li>
    <li><label for="color_profile">Select color profile</label>
        <select name="color_profile" id="color_profile">
        {% for o in color_profiles %}
            <option value="{{ o.name }}" selected>{{o.name}}</option>
        {% endfor %}
        </select>
    </li>
    <li><label for="active">Activate</label>
        <input type="checkbox" name="active" id="active" checked></li>
      </ul>
      <input type="submit" value="Create">
  </form>
{% endblock %}
