<title>{% block title %}{% endblock %} - alarm</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav>
    <a href="{{ url_for('alarm.view') }}">Create / View Alarms</a>
    <a href="{{ url_for('sound.view') }}">Create / View Playlists</a>
    <a href="{{ url_for('color.view') }}">Create / View Color Profiles</a>
    <a href="{{ url_for('wakeup.view')}}"><strong>Active</strong></a>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
